@tailwind base;
@tailwind components;
@tailwind utilities;

.bor {
  border: 0px solid rgb(0, 0, 0);
}

/* Media query for mobile devices (up to 768px) */

/* Media query for tablets (768px to 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Adjust styles for tablets here */

  .title {
    font-size: 18px; /* Reduce font size for tablets */
    font-family: "Overpass";
    font-stretch: extra-expanded;
  }

  /* You can add more tablet-specific styles here */
}

/* Common styles for all screen sizes */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wavy-underline {
  text-decoration: none;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.wavy-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: linear-gradient(90deg, #627fff, #910fdd, rgb(255, 74, 231));
  height: 10%;
  transform-origin: left;
  transition: width 0.8s ease;
}

.wavy-underline:hover::after {
  width: 100%;
}

.main-nav-inline {
  display: flex;
}

.in-line {
  display: inline-flex;
}

.logo-im {
  height: 65px;
  width: 55px;
  width: fit-content;
}

.title {
  width: fit-content;
  height: fit-content;
  margin: 16px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 22px;
  font-family: "Overpass";
  font-weight: 100;
}

.title-half {
  width: fit-content;
  height: fit-content;
  font-size: 22px;
  font-family: "Overpass";
  font-weight: 600;
}

.navs {
  margin-left: 20%;
  width: fit-content;
  height: fit-content;
  margin-top: 2.1%;
  font-size: 15px;
  font-family: "Overpass";
  font-weight: 500;
  letter-spacing: 1px;
}

.nav-effects {
}

.nav-effects:hover {
  color: #8612c9;
}

body {
  color: rgb(37, 37, 37);
  font-family: "Overpass";
  transition: 0.8s color ease;
  transition: 0.8s background-color ease;
}

.body-title {
  font-size: 55px;
}

.sec-1 {
  display: block;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding-left: 8%;
  padding-right: 6%;
  height: 500px;
  font-weight: 900;
  font-family: "Overpass";
}

.feature-box {
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  border-radius: 15px;
  padding: 10px;
  background: linear-gradient(
    to right,
    #315d5f,
    #31585f,
    #274137
  ); /* Change #ffffff to your desired ending color */
  box-shadow: 1px 1px 5px 10px solid black;
  width: 200px;
}

.learn-more-button {
  width: fit-content;
  height: fit-content;
  margin-top: 18px;
  padding: 11px;
  padding-left: 27px;
  padding-right: 27px;
}

.des-text {
  font-weight: 500;
  word-wrap: break-word;
  max-width: 570px; /* Set a maximum width to control text width */
  line-height: 1.5; /* Adjust line height for better readability */
}

.footer {
  padding: 10%;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 1%;
  padding-top: 5%;
  border-top: 1px solid white;
  background: linear-gradient(
    to right,
    #12251e,
    #274137
  ); /* Change #ffffff to your desired ending color */
  /* Set border width and border style */
  border-top: 10px solid;
  /* Create a linear gradient as a border image */
  border-image: linear-gradient(90deg, #719b5c, #23634b, #23634c6b, #00000067) 1;
  width: 100%;
  height: fit-content;
  color: white;
}

.feature-item {
  border: 0px solid wheat;
  background-color: rgba(0, 0, 0, 0.349);
  border-radius: 5px;
  margin: 2px;
  padding: 2px;
}
themeBlack .container {
  height: 500px;
  width: 49.5%;
}

.bgimg {
  background-image: url("../src/components/images/blurbg.jpg"); /* Replace 'path/to/your/image.jpg' with the path to your image file */
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background image */
  /* Additional styles if needed */
  color: white;
  border-top: 10px solid;
  /* Create a linear gradient as a border image */
  border-image: linear-gradient(90deg, #719b5c, #23634b, #23634c6b, #00000067) 1;
}

.centered-image {
  max-width: 500px; /* Ensure the image does not exceed the container's width */
  max-height: 500px; /* Ensure the image does not exceed the container's height */
}

.sp-text {
  color: #8612c9;
}

.divider {
  width: 2px; /* Adjust the width of the divider */
  background-color: #bbbbbb; /* Divider color */
  margin-left: 5px; /* Adjust the margin for spacing */
  margin-right: 5px;
}
.dropdown:focus-within .dropdown-menu {
  opacity: 1;
  transform: translate(0) scale(1);
  visibility: visible;
}

.commonicon {
  height: 30px;
  width: 30px;
  font-size: 16px;
  margin: 5px;
  margin-top: 6px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
.commonicon:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}

.ppic {
  height: 30px;
  width: 30px;
  margin-top: 5px;
  margin-left: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.ppic:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}

.divvBox {
  border-radius: 5px;
}

.head {
  margin-left: 0.5vw;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  width: 98vw;
  height: fit-content;
  font-family: "Overpass";
  border-image: linear-gradient(to right, #65cca6, #274137);
}

.sidebar-box {
  font-family: "Overpass";
  width: fit-content;
  border-radius: 5px;
  margin-top: 1%;
  height: 100vmax;
}

.space {
  width: 40%;
}

.acc-item {
  border-radius: 15px;
  font-size: 24px;
  margin: 20px;
  margin-left: 1vw;
  margin-right: 1vw;
  border-bottom: 3px solid #353535;
  border-top: 3px solid #353535;
}

.acc-item:hover {
  background-color: #353535;
  color: white;
}

.maps {
  width: 75%;
  margin-left: 25%;
  height: 542px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  align-items: center;
}

.noti {
  height: fit-content;
  width: fit-content;
  align-self: center;
  margin-top: 3px;
}

/* Insights.js */
.insightsBox {
  width: 100%;
  height: fit-content;
  align-items: center;
  box-shadow: 0px 0px 5px 0.5px rgb(216, 216, 216);
  border-radius: 10px;
  flex-grow: 1;
  flex-basis: 200;
  font-family: "Overpass";
  font-weight: bolder;
}

.insights1BoxSec1 {
  background-color: #b47bff;
  border-radius: 10px 10px 0px 0px;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
}

.insights1BoxSec2 {
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 400;
  border-radius: 0px 0px 20px 20px;
  font-size: 15px;
}

.insights1Boxsec3 {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.picBullet {
  width: 35px;
  height: 35px;
}

.txtInsights {
  margin-top: 5px;
  color: aliceblue;
  letter-spacing: 2px;
}

/* Foresights.js */

.foresightsBox {
  width: 100%;
  height: fit-content;
  align-items: center;
  box-shadow: 0px 0px 5px 0.5px rgb(216, 216, 216);
  border-radius: 10px;
  margin-right: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-grow: 1;
  flex-basis: 200;
  font-family: "Overpass";
  font-weight: bolder;
}

.foresights1BoxSec1 {
  background-color: #b47bff;
  border-radius: 10px 10px 0px 0px;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
}

.foresights1BoxSec2 {
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 400;
  border-radius: 0px 0px 20px 20px;
  font-size: 15px;
}

li {
  margin-top: 7%;
}

.foresights1Boxsec3 {
  width: 40px;
  height: 40px;
  margin-right: 7px;
}

.picBullet {
  width: 35px;
  height: 35px;
  margin-top: 5%;
}

.txtForesights {
  margin-top: 5px;
  color: aliceblue;
  letter-spacing: 2px;
}

/* Beautiful Text Styles */
.beautiful-text {
  font-family: "Overpass";
  font-weight: 900;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 7px;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}

.cenContent {
  width: 100%;
  height: fit-content;
}

.fs-box {
  display: flex;
  flex-wrap: wrap;
}

.TabsInForsights {
  width: 98%;
}

.welcome-box {
  margin-left: 5%;
  width: 50%;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 1%;
  color: white;
  letter-spacing: 2px;
}

.txt-welcome {
  font-weight: 700;
  font-size: 25px;
  font-family: "Overpass";
}

.img-welcome {
  width: 42px;
  height: 42px;
  margin-left: 10px;
}

.tab-Box {
  width: 95%;
  height: fit-content;
  margin-left: 3%;
}

.date-box {
  margin-bottom: 10px;
  border-radius: 5px;
  color: black;
  font-family: "Overpass";
  margin-left: 20%;
  margin-bottom: 0px;
  width: 30%;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 24;
}

/* Temperature.js */

.flex_box {
  display: flex;
  flex-wrap: wrap;
}

.flex_item {
  flex-grow: 1;
  flex-basis: 200;
}

.temp {
  width: fit-content;
}

.tabs_box {
  display: flex;
  flex-wrap: wrap;
}
.tabs_items {
  flex-grow: 1;
  flex-basis: 200;
}
.mapsiframe {
  width: 94%;
  height: 500px;
  margin-left: 5%;
  border-radius: 10px;
}

/* mapsSelect.js */

.test {
  width: 250px;
  box-shadow: 0px 0px 5px 0px rgb(200, 200, 200);
  border: 0px;
}
.test2 {
  width: 250px;
  box-shadow: 0px 0px 5px 0px rgb(200, 200, 200);
  border: 0px;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
#root,
.leaflet-container {
  height: 100%;
  width: 100%;
}

.themeBlack {
  background-image: url("../src/components/images/Home_Cover.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
}

.cover-img-dashboard {
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
}

/*-----------------------------------*/
/* Login.js */

.login-bg {
  background-image: url("../src/components/images/LoginBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.login-container {
  height: fit-content;
  width: fit-content;
  background-color: #fff;
  border-radius: 17px;
  margin-top: 0px;
  margin-left: 10%;
  margin-bottom: 0px;
  margin-right: 0px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-box {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
}

.login-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  display: flex;
  width: 320px;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
  font-weight: 900;
}

.input-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  color: #333;
  font-size: medium;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 10px;
  font-size: 16px;
  width: 100%; /* Adjustable width */
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 5px; /* Spacing between checkbox and label */
  margin: 15px;
  margin-left: 7px;
  margin-top: 0px;
  margin-bottom: 0px;
}

input[type="checkbox"] {
  accent-color: #4caf50; /* Color of checkbox when checked */
}

.forgot-password {
  text-decoration: none;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  font-style: normal;
  font-size: small;
  font-weight: 600;
}

.forgot-password::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: linear-gradient(90deg, #5ad38c, #38af38, rgb(68, 145, 24));
  height: 10%;
  transform-origin: left;
  transition: width 0.8s ease;
}

.forgot-password:hover::after {
  width: 100%;
}

.login-button {
  background: linear-gradient(90deg, #5ad38c, #38af38, rgb(68, 145, 24));
  color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  text-align: center;
  height: fit-content;
  transition: background 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.login-button:hover {
  background: linear-gradient(90deg, #5ad38c, #38af38, rgb(68, 145, 24));
  box-shadow: 2px 2px 1px 1px black;
}

.login-button:hover::after {
  transition: all ease-out 0.3s;
}

.login-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.login-logo {
  padding-bottom: 0px;
}

.login-logo:hover {
  background: #ececec;
  border-radius: 100px;
  width: fit-content;
  height: fit-content;
}

.login-account-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  position: relative;
  padding: 24px;
  padding-bottom: 10px;
  padding-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
  font-style: normal;
  font-size: small;
  font-weight: 600;
}

.login-account-title:hover {
  color: #38af38;
}

#emailerr,
#usernameerr,
#registersuccess,
#loginsuccess,
#loginerror {
  display: none;
}

/* DashBoard.js */

.bg-line {
  background: linear-gradient(90deg, #719b5c, #23634b, #23634c34, #00000000);
}

.box-1-selection {
  margin-top: 5%;
  width: fit-content;
  height: fit-content;
  border-radius: 25px 25px 25px 25px;
  background: linear-gradient(
    50deg,
    #719b5c00,
    #2f85656e,
    #30886850,
    #000000a8
  );
}

.box-1-selection:hover {
  background: linear-gradient(
    90deg,
    #719b5c00,
    #2f85656e,
    #30886850,
    #00000000
  );
}

.fOneImg {
  width: 240px;
  height: 220px;
  border-radius: 25px 25px 25px 25px;
  margin-bottom: 5px;
}

.custom-box {
  background: linear-gradient(180deg, #719b5c, #23634b, #23634c73, #719b5c);
  width: 10px; /* Width */
  height: 100%; /* Height */
  border-radius: 10px; /* Border radius */
  margin: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.title-feature {
  font-size: 32px;
}

.des-feature {
  font-size: 15px;
  margin-top: 10px;
  font-weight: 500;
  text-align: justify;
  word-wrap: break-word;
  width: 20vw; /* Set a maximum width to control text width */
  line-height: 1.5; /* Adjust line height for better readability */
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
  .des-feature {
    margin-top: 10px;
    font-weight: 500;
    text-align: left;
    line-height: 1.5; /* Adjust line height for better readability */
    width: fit-content;
  }
}

.feature {
  color: white;
}

.feature:hover {
  background-image: linear-gradient(to right, #28ffb7, #3e88ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 700;
}

/* Analytics.js */

.welcome-box-analytics {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 6px 1px rgb(220, 220, 220);
  padding: 1rem; /* Equivalent to .p-4 */
  padding-bottom: 2rem; /* Equivalent to .pb-8 */
  padding-top: 2rem; /* Equivalent to .pt-8 */
  padding-left: 3rem; /* Equivalent to .pl-12 */
  width: fit-content; /* Equivalent to .w-fit */
  margin-left: 1rem; /* Equivalent to .ml-4 */
  margin-bottom: 0.5rem; /* Equivalent to .mb-2 */
  padding-right: 2rem;
  margin-top: 1%;
}

.analytics-main {
  background-color: #f8f9fb;
  width: 100vw;
  height: 100vh;
  font-family: "Overpass";
}

.icon-style {
  border: 2px solid rgb(230, 230, 230);
  border-radius: 15px;
  padding: 5px;
}

.icon-style:hover {
  background-color: rgb(230, 230, 230);
  box-shadow: 0px 0px 6px 1px rgb(220, 220, 220);
}

.gis-button {
  border: 2px solid rgb(230, 230, 230);
  border-radius: 10px;
  padding: 2px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 3px;
}

.gis-button:hover {
  background-color: rgb(230, 230, 230);
  box-shadow: 0px 0px 6px 1px rgb(220, 220, 220);
}

.selected-1 {
  color: white;
  font-size: 12px;
  font-weight: 500;
}

.selected-1 .gis-button {
  /* Add your selected styles here */
  background-color: #4caf50; /* For example, change background color */
  color: #ffffff; /* Change text color */
  /* Add any other styles you want to apply when the button is selected */
}

.area-chart {
  background-color: #fff;
  border-radius: 15px;
  width: fit-content;
  height: fit-content;
}

.bgcolor-feature-1 {
  background-color: #fff6e0;
  border-radius: 10px;
}

.bgcolor-feature-2 {
  background-color: #effefa;
  border-radius: 10px;
}

.div-box-feature {
  background-color: white;
  border-radius: 15px;
  width: 30vw;
}

.name-box-feature-1 {
  width: fit-content;
  border: 2px solid #9a6b2b;
  border-radius: 5px;
  padding-top: 2px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 12px;
  font-weight: 600;
  font-family: "Overpass";
}

.name-box-feature-2 {
  width: fit-content;
  border: 2px solid #afdbba;
  border-radius: 5px;
  padding-top: 2px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 12px;
  font-weight: 600;
  font-family: "Overpass";
}

.name-box-feature-description-1 {
  font-size: medium;
  font-weight: bold;
  padding: 8px;
  padding-left: 3px;
  font-size: 35px;
  text-align: center;
}

.name-box-feature-description-2 {
  font-size: medium;
  font-weight: bold;
  padding: 8px;
  padding-left: 3px;
  font-size: 35px;
  text-align: center;
}

.name-box-feature-date-1 {
  font-size: 12px;
  font-weight: bold;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
}

.name-box-feature-date-2 {
  font-size: 12px;
  font-weight: bold;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
}

.name-box-feature-date-sub-1 {
  padding: 2px;
  font-size: 12px;
  color: #9c96a0;
  font-weight: bold;
}

.name-box-feature-date-sub-2 {
  padding: 2px;
  font-size: 12px;
  color: #96a099;
  font-weight: bold;
}

.time-stamps-button {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(196, 231, 224);
  border-radius: 7px;
  font-size: 12px;
  font-weight: 500;
  color: rgb(51, 51, 51);
  box-shadow: 0px 0px 6px 1px rgb(220, 220, 220);
  margin-left: 5px;
}

.time-stamps-button:hover {
  background-color: rgb(183, 216, 210);
}

.selected {
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.selected .gis-button {
  /* Add your selected styles here */
  background-color: #4caf50; /* For example, change background color */
  color: #ffffff; /* Change text color */
  /* Add any other styles you want to apply when the button is selected */
}

#sidebar-gis {
  margin-left: 1%; /* Set left margin to 1% */
  margin-right: 10px;
  width: 21vw; /* Set width to 22% of the viewport width */
  height: fit-content; /* Set height to fit the content inside */
  background-color: white; /* Set background color to white */
  border-radius: 10px; /* Apply a border radius of 10 pixels */
  box-shadow: 0px 0px 6px 1px rgb(220, 220, 220);
}

#gis-layer {
  width: 100vw; /* Set width to 100% of the viewport width */
  height: 100%; /* Set height to 100% of its container's height */
  padding-top: 25px; /* Set top padding to 25 pixels */
  background-color: #f8f9fb; /* Set background color to #f8f9fb */
}

#map-gis {
  width: 75vw; /* Set width to 75% of the viewport width */
  height: 97%; /* Set height to 90% of its container's height */
  box-shadow: 0px 0px 6px 1px rgb(220, 220, 220);
  border-radius: 10px;
}

#tabs-box {
  flex-grow: 1; /* Allow the box to grow within its container */
  display: flex; /* Set display to flex */
  height: fit-content; /* Set height to fit its content */
  width: 100vw; /* Set width to 100% of the viewport width */
  margin: 0; /* Set margin to 0 */
  padding: 0; /* Set padding to 0 */
  background-color: #f8f9fb; /* Set background color to #f8f9fb */
  padding-top: 30px; /* Set top padding to 30 pixels */
  margin-bottom: 300px; /* Set bottom margin to 300 pixels */
}

#footer {
  margin-top: 880px; /* Set top margin to 835 pixels */
  color: white; /* Set text color to white */
}

.map-markers {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 6px 1px rgb(220, 220, 220);
}

.legend {
  font-weight: 500;
  position: absolute;
  bottom: 40px;
  left: 30px;
}
.legend-item {
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.legend-color {
  padding: 10px;
  font-weight: bold;
  font-family: "Overpass";
  font-size: 12px;
}

@media screen and (min-width: 0px) and (max-width: 1250px) {
  #tabs-box {
    padding-left: 0px;
  }

  .analytics-main {
    width: 100vw;
    height: 100vh;
    background-color: #f8f9fb;
  }

  #gis-layer {
    display: block;
    z-index: 1;
    width: fit-content;
    padding-bottom: 950px;
  }

  #sidebar-gis {
    width: 90vw;
    z-index: 1;
  }

  #map-gis {
    width: 90vw;
    padding-left: 5px;
    height: 500px;
    z-index: 1;
  }

  #title-analytics {
    padding-top: 100px;
  }

  .div-box-feature {
    width: 100vw;
  }

  #footer {
    margin-top: 1800px; /* Set top margin to 835 pixels */
    color: white; /* Set text color to white */
  }

  .footer {
  }

  .map-markers {
    margin: 10px;
    margin-right: 0px;
    border-radius: 10px;
    width: 99%;
    height: 100%;
  }
}

/* GIS LAYER */

#map {
  height: 100%;
  width: 100%;
}

.pop-up {
  width: fit-content;
  height: fit-content;
  font-size: 14px;
  font-family: "Overpass";
  font-weight: 600;
  border-radius: 15px;
}

.sub-pop-up {
  padding: 5px;
}

/* Extreme Events.js */

#Box_1 {
  margin: 10px;
  background-color: #dbdbdb;
  color: black;
  font-weight: 600;
  border-radius: 15px;
  padding: 15px;
  padding-left: 0px;
  padding-right: 0px;
  box-shadow: 0px 0px 7px 0px #b4b4b4;
}

.counter {
}

#disabled-month {
  pointer-events: none; /* Disables click events */
  opacity: 0.5; /* Makes it visually appear disabled */
}
#disabled-year {
  pointer-events: none; /* Disables click events */
  opacity: 0.5; /* Makes it visually appear disabled */
}

/* Info POP-UP box */
#info_box_show {
  display: flexbox;
  width: 700px;
  height: fit-content;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 0px rgb(209, 209, 209);
}

#info_close_button {
  margin: 2px;
  border-radius: 12px;
}

#info_close_button:hover {
  border: 2px solid rgb(194, 194, 194);
}

#info_sub_1 img {
  border-radius: 1px;
  width: 400px;
  height: 300px;
  border-radius: 20px 0px 0px 20px;
  box-shadow: 0px 0px 7px 0px rgb(209, 209, 209);
}

.info_sub_2 {
  width: 300px;
}

.info_sub_2_title {
  font-size: 25px;
  background-color: #333333;
  padding: 5px;
  margin-bottom: 10px;
  color: white;
  padding: 10px;
  border-radius: 0px 20px 0px 0px;
  box-shadow: 5px solid rgb(255, 255, 255);
}

.info_sub_2_section {
  background-color: #e9e9e9;
  padding: 5px;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 0px #e9e9e9;
}

/* Loader.js */

.loader {
  font-size: 1.5em;
  font-weight: 900;
}
.loader > * {
  color: black;
}
.loader span {
  display: inline-flex;
}
.loader span:nth-child(2) {
  letter-spacing: -1em;
  overflow: hidden;
  animation: reveal 2000ms cubic-bezier(0.645, 0.045, 0.355, 1) infinite
    alternate;
}
@keyframes reveal {
  0%,
  100% {
    opacity: 0.5;
    letter-spacing: -1em;
  }
  50% {
    opacity: 1;
    letter-spacing: 0em;
  }
}

/* SubLoader.js */
.newtons-cradle {
  --uib-size: 50px;
  --uib-speed: 1.2s;
  --uib-color: #474554;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--uib-size);
  height: var(--uib-size);
}

.newtons-cradle__dot {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 25%;
  transform-origin: center top;
}

.newtons-cradle__dot::after {
  content: "";
  display: block;
  width: 100%;
  height: 25%;
  border-radius: 50%;
  background-color: var(--uib-color);
}

.newtons-cradle__dot:first-child {
  animation: swing var(--uib-speed) linear infinite;
}

.newtons-cradle__dot:last-child {
  animation: swing2 var(--uib-speed) linear infinite;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  25% {
    transform: rotate(70deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }
}

@keyframes swing2 {
  0% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  75% {
    transform: rotate(-70deg);
    animation-timing-function: ease-in;
  }
}

/* Datasets.js*/

.datasets-main {
  width: fit-content;
  height: fit-content;
  font-family: "Overpass";
  color: #454545;
  background-color: #faf8f8;
}

/* Container styles */
.container {
  width: 10vw;
}

.section-dataset {
  margin: 5%;
  margin-top: 4%;
  margin-left: 4%;
  margin-bottom: 0px;
}

/* Title styles */
.title-dataset {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 600;
}

/* Description styles */
.description-dataset {
  margin-bottom: 10px;
}

/* Search bar styles */
.searchbar-dataset input[type="text"] {
  font-size: 13px;
  border-radius: 10px;
  border: 2px solid #e4e4e4;
  margin-bottom: 25px;
}

/* Main section styles */
.main-secion {
  width: fit-content;
  height: max-content;
  margin-top: 1%;
}

/* Box dataset styles */
.box-dataset {
  width: 31.5%;
  height: fit-content;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px 0px rgb(225, 225, 225);
}

/* Sub-title dataset styles */
.sub-title-datasets {
  font-size: 22px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

/* Image dataset styles */
.img-dataset img {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
  border-radius: 10px;
}

/* Divider dataset styles */
.divider-dataset {
  border: 2px solid #e2e2e2;
  border-radius: 5px;
}

/* Sub-description dataset styles */
.sub-description-dataset {
  text-overflow: clip;
  text-rendering: auto;
  font-style: normal;
  font-size: 15px;
  padding: 7px;
}

/* Tags styles */
.tags {
  padding: 10px;
}

.sub-tag {
  margin: 5px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: small;
  border-radius: 5px;
  background-color: #e9e9e9;
  box-shadow: 0px 0px 7px 0px #e9e9e9;
}

/* About Us.js */

.section-one {
  background-image: url("../src/components/images/Home_Cover.svg");
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background image */
  color: white;
}

.sub-section-one {
  width: 72%;
}

.about-title-section-one {
  font-size: 40px;
  font-weight: 600;
  padding-left: 10%;
  padding-top: 15%;
  opacity: 0; /* Set initial opacity to 0 */
  animation: slideInLeft 1s ease forwards; /* Apply slide-in animation */
}

.about-description-section-one {
  font-size: 17px;
  font-weight: 500;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 15%;
  opacity: 0; /* Set initial opacity to 0 */
  animation: slideInLeft 1s ease forwards; /* Apply slide-in animation */
  width: 80%;
}

.about-title-2 {
  font-size: 40px;
  margin: 5%;
  margin-left: 1%;
  margin-bottom: 1%;
}

.about-description-2 {
  font-size: 20px;
  margin: 5%;
  margin-top: 1%;
  margin-left: 1%;
}

.section-2-title,
.section-2-description {
  opacity: 0; /* Set initial opacity to 0 */
  animation: slideInLeft 1s ease forwards; /* Apply slide-in animation */
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%); /* Start position off-screen to the left */
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    transform: translateX(0); /* End position, fully visible */
    opacity: 1; /* Fully visible */
  }
}
@keyframes slideInRight {
  from {
    transform: translateX(100%); /* Start position off-screen to the left */
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    transform: translateX(0); /* End position, fully visible */
    opacity: 1; /* Fully visible */
  }
}

.section-2-title {
  font-size: 25px;
  padding: 12px;
  padding-bottom: 2px;
}

.section-2-description {
  font-size: 15px;
  padding: 12px;
  padding-top: 2px;
}

.item-about {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  width: 40%;
  border-radius: 15px;
  padding: 7px;
  padding-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  text-align: center; /* Center the content horizontally */
  font-size: 15px; /* Increase font size for better readability */
  color: #000000;
  font-weight: 600;
}

#accordation-about {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  color: #000000;
}

/* Contact.js */

.contact-title {
  padding: 10%;
  padding-bottom: 2px;
  font-size: 40px;
  font-weight: 900;
}

.description-contact {
  padding: 10%;
  padding-top: 2px;
  padding-bottom: 20px;
  font-size: 15px;
  font-weight: 900;
}

.phone-contact {
  border: 2px solid #e9e9e9;
  width: 65%;
  padding: 40px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin: 10%;
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 15px;
  font-weight: 600;
  border-radius: 12px;
}

.phone-contact img {
  padding-right: 10px;
}

.email-contact {
  background-color: #333333;
  color: white;
  width: 65%;
  padding: 40px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin: 10%;
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 15px;
  font-weight: 600;
  border-radius: 12px;
}

.email-contact img {
  padding-right: 10px;
}

.social-contact {
  margin: 10%;
}

.social-icon {
  padding: 5px;
  border-radius: 25px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #f0f0f0;
  box-shadow: 0px 0px 10px 0px #e3e3e3;
}

.social-icon:hover {
  padding: 5px;
  border-radius: 25px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #bebebe;
  box-shadow: 0px 0px 10px 0px #e3e3e3;
}

.label-contact {
  font-size: 15px;
  font-weight: 600;
  margin: 2%;
  margin-bottom: 0%;
}

.input-contact {
  font-size: 14px;
  font-weight: 600;
  margin: 2%;
  margin-bottom: 0%;
  border-radius: 10px;
  background-color: rgb(245, 245, 245);
  border: none;
  box-shadow: 0px 0px 5px 0px #dddddd;
}

.contact-button {
  font-size: 17px;
  font-weight: 600;
  margin: 2%;
  margin-bottom: 0%;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: 2px solid rgb(82, 82, 82);
  width: 90%;
  color: #444444;
}

.contact-button:hover {
  background-color: #333333;
  color: white;
  border: none;
}

#displayMessage {
  display: none;
  font-size: 17px;
  font-weight: 600;
  margin: 2%;
  margin-bottom: 0%;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid rgb(32, 32, 32);
  width: 90%;
  text-align: center;
  color: #ffffff;
  background-color: black;
  animation: slideInFromRight 1s forwards; /* Apply animation */
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Articles.js */

.blog-title {
  color: #1c4f4a;
  margin: 3%;
  font-size: 40px;
  font-weight: 600;
}

.blog-bar {
  margin: 3%;
  background-color: #1c4f4a;
  border-radius: 35px;
  padding-left: 1%;
  padding-right: 1%;
  font-size: 15px;
  width: 40vw;
}

.blog-bar-item {
  margin: 10px;
  margin-left: 1%;
  margin-right: 1%;
  padding: 1%;
  padding-bottom: 0%;
  color: white;
}

.selected-blog-bar-item {
  margin: 7px;
  margin-left: 1%;
  margin-right: 1%;
  padding: 1%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  background-color: #dee3de;
  color: #1c4f4a;
  border-radius: 35px;
  font-weight: 600;
  letter-spacing: 1px;
}

.main-blog {
  border-radius: 70px;
  margin-left: 4%;
  width: 90vw;
  box-shadow: 0px 0px 10px 0px rgb (204, 209, 204);
}

.blog-sub-section-1 {
  background-color: #1c4f4a;
  border-radius: 70px 0px 0px 70px;
  color: #dee3de;
  padding: 3vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  width: 40%;
}

.blog-sub-section-2 {
  background-color: white;
  width: 60%;
  border-radius: 0px 70px 70px 0px;
}

.blog-title-main {
  font-weight: 900;
  font-size: 50px;
  letter-spacing: normal;
}

.blog-description-main {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: normal;
}

.blog-item-1 {
  font-size: small;
  padding: 10px;
  padding-top: 4px;
  padding-bottom: 2px;
  border-radius: 7px;
  color: pink;
  background-color: rgb(177, 19, 45);
}

.blog-item-2 {
  font-size: small;
  padding: 10px;
  padding-top: 4px;
  padding-bottom: 2px;
  border-radius: 7px;
  color: rgb(19, 238, 136);
  background-color: rgb(53, 53, 53);
}

.title-item-blog {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 600;
}

/* Crops.js */

#CropsMap {
  width: 98.7vw;
  height: 800px;
}

#crops-content {
  position: relative;
  z-index: 0;
}

#overlay-content-1 {
  position: absolute;
  top: 5%;
  left: 2%;
  z-index: 1;
  height: fit-content;
}

.select-overlay-content {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 3px 0px #e9e9e9;
}

#overlay-content-2 {
  position: absolute;
  top: 13%;
  left: 2%;
  z-index: 1;
  height: fit-content;
}

#overlay-content-3 {
  position: absolute;
  top: 21%;
  left: 2%;
  z-index: 1;
  height: fit-content;
}

#overlay-content-4 {
  position: absolute;
  top: 30%;
  left: 3.1%;
  z-index: 1;
  height: fit-content;
}

#overlay-content-5 {
  position: absolute;
  top: 40%;
  left: 3%;
  z-index: 1;
  height: fit-content;
}

#msg-promt {
  display: none;
  padding: 12px;
  padding-top: 10px;
  padding-bottom: 6x;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 12px 12px 12px 0px;
  width: fit-content;
  text-align: center;
  opacity: 0; /* Set initial opacity to 0 */
  animation: slideInLeft 1s ease forwards; /* Apply slide-in animation */
}

.fetch-button {
  padding: 10px;
  padding-top: 7px;
  padding-bottom: 3px;
  background-color: white;
  color: #000000;
  font-size: 15px;
  font-weight: 600;
  border-radius: 12px;
  width: 100px;
  box-shadow: 0px 0px 3px 0px #e9e9e9;
  text-align: center;
}

.fetch-button:hover {
  background-color: #28ffb7;
  color: #333333;
  box-shadow: 0px 0px 3px 0px #28ffb7;
}

.future-reading {
  color: #000000;
  background-color: #21cebc;
  border-radius: 0px 0px 5px 5px;
  padding: 15px;
  padding-bottom: 7px;
  padding-top: 7px;
}

/* Map-PopUp */

.map-pop-up {
  background-color: #e9e9e9;
  padding: 1vw;
  width: fit-content;
  font-weight: bold;
}

.map-pop-up-sub {
  background-color: white;
  border-radius: 12px;
  font-weight: 500;
  box-shadow: 0px 0px 5px 1px white;
}

.Chart-popup{
  background-color: white;
  border-radius: 12px;
}