@tailwind base;
@tailwind components;
@tailwind utilities;

.bor {
  border: 1px solid rgb(0, 0, 0);
}

/* Media query for mobile devices (up to 768px) */

/* Media query for tablets (768px to 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Adjust styles for tablets here */

  .title {
    font-size: 18px; /* Reduce font size for tablets */
    font-family: "Overpass";
    font-stretch: extra-expanded;
  }

  /* You can add more tablet-specific styles here */
}

/* Common styles for all screen sizes */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wavy-underline {
  text-decoration: none;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.wavy-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: linear-gradient(90deg, #627fff, #910fdd, rgb(255, 74, 231));
  height: 10%;
  transform-origin: left;
  transition: width 0.8s ease;
}

.wavy-underline:hover::after {
  width: 100%;
}

.main-nav-inline {
  display: flex;
}

.in-line {
  display: inline-flex;
}

.logo-im {
  height: 65px;
  width: 55px;
  width: fit-content;
}

.title {
  width: fit-content;
  height: fit-content;
  margin: 16px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 22px;
  font-family: "Overpass";
  font-weight: 100;
}

.title-half {
  width: fit-content;
  height: fit-content;
  font-size: 22px;
  font-family: "Overpass";
  font-weight: 600;
}

.navs {
  margin-left: 20%;
  width: fit-content;
  height: fit-content;
  margin-top: 2.1%;
  font-size: 15px;
  font-family: "Overpass";
  font-weight: 500;
  letter-spacing: 1px;
}

.nav-effects {
}

.nav-effects:hover {
  color: #8612c9;
}

body {
  color: rgb(37, 37, 37);
  font-family: "Overpass";
  transition: 0.8s color ease;
  transition: 0.8s background-color ease;
}

.body-title {
  font-size: 55px;
}

.sec-1 {
  display: block;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding-left: 8%;
  height: 500px;
  font-weight: 900;
  font-family: "Overpass";
}

.feature-box {
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  border-radius: 15px;
  padding: 10px;
  background: linear-gradient(
    to right,
    #315d5f,
    #31585f,
    #274137
  ); /* Change #ffffff to your desired ending color */
  box-shadow: 1px 1px 5px 10px solid black;
  width: 200px;
}

.learn-more-button {
  width: fit-content;
  height: fit-content;
  margin-top: 18px;
  padding: 11px;
  padding-left: 27px;
  padding-right: 27px;
}

.des-text {
  font-weight: 500;
  word-wrap: break-word;
  max-width: 570px; /* Set a maximum width to control text width */
  line-height: 1.5; /* Adjust line height for better readability */
}

.footer {
  margin-top: 5%;
  padding: 10%;
  padding-bottom: 1%;
  padding-top: 5%;
  border-top: 1px solid white;
  background: linear-gradient(
    to right,
    #12251e,
    #274137
  ); /* Change #ffffff to your desired ending color */
  /* Set border width and border style */
  border-top: 10px solid;
  /* Create a linear gradient as a border image */
  border-image: linear-gradient(90deg, #719b5c, #23634b, #23634c6b, #00000067) 1;
  width: 100vw;
  height: fit-content;
}

.feature-item {
  border: 0px solid wheat;
  background-color: rgba(0, 0, 0, 0.349);
  border-radius: 5px;
  margin: 2px;
  padding: 2px;
}

.container {
  height: 500px;
  width: 49.5%;
}

.centered-image {
  max-width: 500px; /* Ensure the image does not exceed the container's width */
  max-height: 500px; /* Ensure the image does not exceed the container's height */
}

.sp-text {
  color: #8612c9;
}

.divider {
  width: 2px; /* Adjust the width of the divider */
  background-color: #bbbbbb; /* Divider color */
  margin-left: 5px; /* Adjust the margin for spacing */
  margin-right: 5px;
}
.dropdown:focus-within .dropdown-menu {
  opacity: 1;
  transform: translate(0) scale(1);
  visibility: visible;
}

.commonicon {
  height: 30px;
  width: 30px;
  font-size: 16px;
  margin: 5px;
  margin-top: 6px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
.commonicon:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}

.ppic {
  height: 30px;
  width: 30px;
  margin-top: 5px;
  margin-left: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.ppic:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}

.divvBox {
  border-radius: 5px;
}

.head {
  width: 100vw;
  height: fit-content;
  font-family: "Overpass";
}

.sidebar-box {
  font-family: "Overpass";
  width: fit-content;
  border-radius: 5px;
  margin-top: 1%;
  height: 100vmax;
}

.space {
  width: 80%;
}

.acc-item {
  border: none;
  border-bottom: 2px solid white;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 24px;
}

.maps {
  width: 75%;
  margin-left: 25%;
  height: 542px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  align-items: center;
}

.noti {
  height: fit-content;
  width: fit-content;
  align-self: center;
  margin-top: 3px;
}

/* Insights.js */
.insightsBox {
  width: 100%;
  height: fit-content;
  align-items: center;
  box-shadow: 0px 0px 5px 0.5px rgb(216, 216, 216);
  border-radius: 10px;
  flex-grow: 1;
  flex-basis: 200;
  font-family: "Overpass";
  font-weight: bolder;
}

.insights1BoxSec1 {
  background-color: #b47bff;
  border-radius: 10px 10px 0px 0px;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
}

.insights1BoxSec2 {
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 400;
  border-radius: 0px 0px 20px 20px;
  font-size: 15px;
}

.insights1Boxsec3 {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.picBullet {
  width: 35px;
  height: 35px;
}

.txtInsights {
  margin-top: 5px;
  color: aliceblue;
  letter-spacing: 2px;
}

/* Foresights.js */

.foresightsBox {
  width: 100%;
  height: fit-content;
  align-items: center;
  box-shadow: 0px 0px 5px 0.5px rgb(216, 216, 216);
  border-radius: 10px;
  margin-right: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-grow: 1;
  flex-basis: 200;
  font-family: "Overpass";
  font-weight: bolder;
}

.foresights1BoxSec1 {
  background-color: #b47bff;
  border-radius: 10px 10px 0px 0px;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
}

.foresights1BoxSec2 {
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 400;
  border-radius: 0px 0px 20px 20px;
  font-size: 15px;
}

li {
  margin-top: 7%;
}

.foresights1Boxsec3 {
  width: 40px;
  height: 40px;
  margin-right: 7px;
}

.picBullet {
  width: 35px;
  height: 35px;
  margin-top: 5%;
}

.txtForesights {
  margin-top: 5px;
  color: aliceblue;
  letter-spacing: 2px;
}

/* Beautiful Text Styles */
.beautiful-text {
  font-family: "Overpass";
  font-weight: 900;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 7px;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}

.cenContent {
  width: 100%;
  height: fit-content;
}

.fs-box {
  display: flex;
  flex-wrap: wrap;
}

.TabsInForsights {
  width: 98%;
}

.welcome-box {
  margin-left: 5%;
  width: 50%;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 1%;
  color: white;
  letter-spacing: 2px;
}

.txt-welcome {
  font-weight: 700;
  font-size: 25px;
  font-family: "Overpass";
}

.img-welcome {
  width: 42px;
  height: 42px;
  margin-left: 10px;
}

.tab-Box {
  width: 95%;
  height: fit-content;
  margin-left: 3%;
}

.date-box {
  margin-bottom: 10px;
  border-radius: 5px;
  color: black;
  font-family: "Overpass";
  margin-left: 20%;
  margin-bottom: 0px;
  width: 30%;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 24;
}

/* Temperature.js */

.flex_box {
  display: flex;
  flex-wrap: wrap;
}

.flex_item {
  flex-grow: 1;
  flex-basis: 200;
}

.temp {
  width: fit-content;
}

.tabs_box {
  display: flex;
  flex-wrap: wrap;
}
.tabs_items {
  flex-grow: 1;
  flex-basis: 200;
}
.mapsiframe {
  width: 94%;
  height: 500px;
  margin-left: 5%;
  border-radius: 10px;
}

/* mapsSelect.js */

.test {
  width: 250px;
  box-shadow: 0px 0px 5px 0px rgb(200, 200, 200);
  border: 0px;
}
.test2 {
  width: 250px;
  box-shadow: 0px 0px 5px 0px rgb(200, 200, 200);
  border: 0px;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
#root,
.leaflet-container {
  height: 100%;
  width: 100%;
}

.themeBlack {
  color: white;
  background-color: #1d312e;
  /*background-image: url("../src/components/images/bgimg.png"); /* Specify the path to your image */
  /*background-size: cover; /* This property ensures the image covers the entire background */
  /*background-repeat: no-repeat; /* Prevents the background image from repeating */
  /*background-position: center center; /* Center the background image */
}

/*-----------------------------------*/
/* Login.js */

.login-bg {
  background-image: url("../src/components/images/LoginBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.login-container {
  height: fit-content;
  width: fit-content;
  background-color: #fff;
  border-radius: 17px;
  margin-top: 0px;
  margin-left: 10%;
  margin-bottom: 0px;
  margin-right: 0px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-box {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
}

.login-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  display: flex;
  width: 320px;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
  font-weight: 900;
}

.input-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  color: #333;
  font-size: medium;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 10px;
  font-size: 16px;
  width: 100%; /* Adjustable width */
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 5px; /* Spacing between checkbox and label */
  margin: 15px;
  margin-left: 7px;
  margin-top: 0px;
  margin-bottom: 0px;
}

input[type="checkbox"] {
  accent-color: #4caf50; /* Color of checkbox when checked */
}

.forgot-password {
  text-decoration: none;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  font-style: normal;
  font-size: small;
  font-weight: 600;
}

.forgot-password::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: linear-gradient(90deg, #5ad38c, #38af38, rgb(68, 145, 24));
  height: 10%;
  transform-origin: left;
  transition: width 0.8s ease;
}

.forgot-password:hover::after {
  width: 100%;
}

.login-button {
  background: linear-gradient(90deg, #5ad38c, #38af38, rgb(68, 145, 24));
  color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  text-align: center;
  height: fit-content;
  transition: background 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.login-button:hover {
  background: linear-gradient(90deg, #5ad38c, #38af38, rgb(68, 145, 24));
  box-shadow: 2px 2px 1px 1px black;
}

.login-button:hover::after {
  transition: all ease-out 0.3s;
}

.login-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.login-logo {
  padding-bottom: 0px;
}

.login-logo:hover {
  background: #ececec;
  border-radius: 100px;
  width: fit-content;
  height: fit-content;
}

.login-account-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  position: relative;
  padding: 24px;
  padding-bottom: 10px;
  padding-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
  font-style: normal;
  font-size: small;
  font-weight: 600;
}

.login-account-title:hover {
  color: #38af38;
}

#emailerr,
#usernameerr,
#registersuccess,
#loginsuccess,
#loginerror {
  display: none;
}

/* DashBoard.js */

.bg-line {
  background: linear-gradient(90deg, #719b5c, #23634b, #23634c34, #00000000);
}

.box-1-selection {
  margin-top: 5%;
  width: fit-content;
  height: fit-content;
  border-radius: 25px 25px 25px 25px;
  background: linear-gradient(
    50deg,
    #719b5c00,
    #2f85656e,
    #30886850,
    #000000a8
  );
}

.box-1-selection:hover {
  background: linear-gradient(
    90deg,
    #719b5c00,
    #2f85656e,
    #30886850,
    #00000000
  );
}

.fOneImg {
  width: 240px;
  height: 220px;
  border-radius: 25px 25px 25px 25px;
  margin-bottom: 5px;
}

.custom-box {
  background: linear-gradient(180deg, #719b5c, #23634b, #23634c73, #719b5c);
  width: 10px; /* Width */
  height: 100%; /* Height */
  border-radius: 10px; /* Border radius */
  margin: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.title-feature {
  font-size: 32px;
}

.des-feature {
  font-size: 15px;
  margin-top: 10px;
  font-weight: 500;
  text-align: justify;
  word-wrap: break-word;
  width: 20vw; /* Set a maximum width to control text width */
  line-height: 1.5; /* Adjust line height for better readability */
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
  .des-feature {
    margin-top: 10px;
    font-weight: 500;
    text-align: left;
    line-height: 1.5; /* Adjust line height for better readability */
    width: fit-content;
  }
}

.feature {
  color: white;
}

.feature:hover {
  background-image: linear-gradient(to right, #28ffb7, #3e88ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 700;
}

/* Analytics.js */

.welcome-box-analytics {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 1px rgb(220, 220, 220);
  padding: 1rem; /* Equivalent to .p-4 */
  padding-bottom: 2rem; /* Equivalent to .pb-8 */
  padding-top: 2rem; /* Equivalent to .pt-8 */
  padding-left: 3rem; /* Equivalent to .pl-12 */
  width: fit-content; /* Equivalent to .w-fit */
  margin-top: 1rem; /* Equivalent to .mt-4 */
  margin-left: 1rem; /* Equivalent to .ml-4 */
  margin-bottom: 0.5rem; /* Equivalent to .mb-2 */
  padding-right: 2rem;
}

.analytics-main {
  background-color: #f8f9fb;
  width: 100vw;
  height: 100vh;
  font-family: "Overpass";
}

.icon-style {
  border: 2px solid rgb(230, 230, 230);
  border-radius: 15px;
  padding: 5px;
}

.icon-style:hover {
  background-color: rgb(230, 230, 230);
  box-shadow: 0px 0px 5px 1px rgb(220, 220, 220);
}

.gis-button {
  border: 2px solid rgb(230, 230, 230);
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 3px;
}

.gis-button:hover {
  background-color: rgb(230, 230, 230);
  box-shadow: 0px 0px 5px 1px rgb(220, 220, 220);
}

.selected .gis-button {
  /* Add your selected styles here */
  background-color: #4caf50; /* For example, change background color */
  color: #ffffff; /* Change text color */
  /* Add any other styles you want to apply when the button is selected */
}

.area-chart {
  background-color: #fff;
  border-radius: 15px;
  width: fit-content;
  height: fit-content;
}

.bgcolor-feature-1 {
  background-color: #fff6e0;
  border-radius: 10px;
}

.bgcolor-feature-2 {
  background-color: #effefa;
  border-radius: 10px;
}

.div-box-feature {
  background-color: white;
  border-radius: 15px;
  width: 30vw;
}

.name-box-feature-1 {
  width: fit-content;
  border: 2px solid #9a6b2b;
  border-radius: 5px;
  padding-top: 2px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 12px;
  font-weight: 600;
  font-family: "Overpass";
}

.name-box-feature-2 {
  width: fit-content;
  border: 2px solid #afdbba;
  border-radius: 5px;
  padding-top: 2px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 12px;
  font-weight: 600;
  font-family: "Overpass";
}

.name-box-feature-description-1 {
  font-size: medium;
  font-weight: bold;
  padding: 8px;
  padding-left: 3px;
  font-size: 35px;
  text-align: center;
}

.name-box-feature-description-2 {
  font-size: medium;
  font-weight: bold;
  padding: 8px;
  padding-left: 3px;
  font-size: 35px;
  text-align: center;
}

.name-box-feature-date-1 {
  font-size: 12px;
  font-weight: bold;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
}

.name-box-feature-date-2 {
  font-size: 12px;
  font-weight: bold;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
}

.name-box-feature-date-sub-1 {
  padding: 2px;
  font-size: 12px;
  color: #9c96a0;
  font-weight: bold;
}

.name-box-feature-date-sub-2 {
  padding: 2px;
  font-size: 12px;
  color: #96a099;
  font-weight: bold;
}

.time-stamps-button {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(196, 231, 224);
  border-radius: 7px;
  font-size: 12px;
  font-weight: 500;
  color: rgb(51, 51, 51);
  box-shadow: 0px 0px 5px 1px rgb(220, 220, 220);
  margin-left: 5px;
}

.time-stamps-button:hover {
  background-color: rgb(183, 216, 210);
}

#sidebar-gis {
  margin-left: 1%; /* Set left margin to 1% */
  width: 22vw; /* Set width to 22% of the viewport width */
  height: fit-content; /* Set height to fit the content inside */
  background-color: white; /* Set background color to white */
  border-radius: 10px; /* Apply a border radius of 10 pixels */
  box-shadow: 0px 0px 5px 1px rgb(220, 220, 220);
}

#gis-layer {
  width: 100vw; /* Set width to 100% of the viewport width */
  height: 100%; /* Set height to 100% of its container's height */
  padding-top: 25px; /* Set top padding to 25 pixels */
  background-color: #f8f9fb; /* Set background color to #f8f9fb */
}

#map-gis {
  width: 75vw; /* Set width to 75% of the viewport width */
  height: 90%; /* Set height to 90% of its container's height */
}

#tabs-box {
  flex-grow: 1; /* Allow the box to grow within its container */
  display: flex; /* Set display to flex */
  height: fit-content; /* Set height to fit its content */
  width: 100vw; /* Set width to 100% of the viewport width */
  margin: 0; /* Set margin to 0 */
  padding: 0; /* Set padding to 0 */
  background-color: #f8f9fb; /* Set background color to #f8f9fb */
  padding-top: 30px; /* Set top padding to 30 pixels */
  margin-bottom: 300px; /* Set bottom margin to 300 pixels */
}

#footer {
  margin-top: 800px; /* Set top margin to 835 pixels */
  color: white; /* Set text color to white */
}

.map-markers {
  margin: 10px;
  margin-top: 0px;
  margin-right: 0px;
  border-radius: 10px;
  width: 99%;
  height: 100%;
  box-shadow: 0px 0px 5px 1px rgb(220, 220, 220);
}

.legend {
  font-weight: 500;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(255, 255, 255, 1);
  padding: 15px;
  border-radius: 15px;
}
.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgb(241, 241, 241);
}

@media screen and (min-width: 0px) and (max-width: 1250px) {
  #tabs-box {
    padding-left: 0px;
  }

  .analytics-main {
    width: 100vw;
    height: 100vh;
    background-color: #f8f9fb;
  }

  #gis-layer {
    display: block;
    z-index: 1;
    width: fit-content;
    padding-bottom: 950px;
  }

  #sidebar-gis {
    width: 90vw;
    z-index: 1;
  }

  #map-gis {
    width: 90vw;
    padding-left: 5px;
    height: 500px;
    z-index: 1;
  }

  #title-analytics {
    padding-top: 100px;
  }

  .div-box-feature {
    width: 100vw;
  }

  #footer {
    margin-top: 1800px; /* Set top margin to 835 pixels */
    color: white; /* Set text color to white */
  }

  .footer {
  }

  .map-markers {
    margin: 10px;
    margin-right: 0px;
    border-radius: 10px;
    width: 99%;
    height: 100%;
  }
}

/* GIS LAYER */

#map {
  height: 100%;
  width: 100%;
}
